## Part A: Classes in Python

In [1]:
#1
class Student :
    def __init__(self,name,age,grade):
        self.name = name
        self.age = age
        self.grade = grade
        
student_1 = Student('Mayur',15,82)

student_2 = Student('Prathmesh',14,70)
  
        
print(student_1.name,student_1.age,student_1.grade)
print(student_2.name,student_2.age,student_2.grade)

Mayur 15 82
Prathmesh 14 70

In [2]:
#2
def is_passing(grade):
        if grade>=50:
            return True
        else :
            return False

In [3]:
print ("***If result = True Student is pass and If result = False Student is fail***")

student_3 = Student('Vaibhav',14,91)

student_4 = Student('Rohan',15,48)

print (student_3.name,is_passing(student_3.grade))
print (student_4.name,is_passing(student_4.grade))

***If result = True Student is pass and If result = False Student is fail***
Vaibhav True
Rohan False

In [4]:
#3
class High_School_Student(Student) :
    
    def __init__(self,name,age,grade,school_name):
        super().__init__(name,age,grade)
        self.school_name = school_name
        
HS_1 = High_School_Student('Akash',18,86,'Grand Gurukul School')
HS_2 = High_School_Student('Shubham',17,67,'MGV School')
HS_3 = High_School_Student('Darshan',18,42,'Carmel Convent School')

print(HS_1.name,HS_1.age,HS_1.grade,HS_1.school_name)
print(HS_2.name,HS_2.age,HS_2.grade,HS_2.school_name)
print(HS_3.name,HS_3.age,HS_3.grade,HS_3.school_name)

Akash 18 86 Grand Gurukul School
Shubham 17 67 MGV School
Darshan 18 42 Carmel Convent School

## Part B: Functions in Python

In [5]:
#4
def calculate_rectangle_area(length,width):
    return length*width

In [6]:
#(1) length = 12 & width = 15
print (calculate_rectangle_area(12,15))

#(2) length = 25 & width = 7
print (calculate_rectangle_area(25,7))

#(3) length = 9 & width = 33
print (calculate_rectangle_area(9,33))

180
175
297

In [7]:
#5
def greet(name, greet="Hello"):
    return f"{greet},{name}!"

In [8]:
print (greet("Mayur"))
print (greet("Jay","Hey"))

Hello,Mayur!
Hey,Jay!

In [9]:
#6
def calculate_average(*args):
    total = sum(args)
    return total/len(args)

In [10]:
calculate_average(5,10,15,20)

12.5